/* Tested in Chrome and Firefox */
main {
	width: 450px;
	height: 400px;
	display: flex;
	flex-direction: column;
	border: 2px solid;
}

h3 {
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: 1.5px solid;
}

.playground {
	display: flex;
	flex: 1;
}
.grid {
	flex: 1;
	background-image: linear-gradient(black 2px, transparent 2px), linear-gradient(90deg, black 2px, transparent 0px);
	background-size: 20% 20%;
	background-position: -2px -2px;
	position: relative;
}

.robot {
	position: absolute;
	background-color: black;
	top: 0;
	left: 0;
}
.robot::before, /* eyes */
.robot::after {
	content: "";
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: black;
	bottom: 0;
	transform: translateY(50%);
}
.robot::before {
	left: 50%;
}
.robot::after {
	right: 50%;
}

.movements {
	width: 100px;
	border-left: 1.5px solid;
}
.movement {
	user-select: none;
	height: calc(20% - 1px);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border-bottom: 1px dotted;
	cursor: pointer;
}
kbd {
	font-size: 16px;
}
i {
	font-size: 14px;
}
